%h1 Add profile information

= form_for(@user, :html => {:class => 'form-search', :style => 'margin-top:1.5em;'}) do |f|
  = f.text_field :email, :placeholder => "Email"
  = f.submit "Sign in", :class => 'btn btn-primary'
