%p
  %b Nickname: 
  #{@user.nickname if @user.nickname}
%p
  %b User: 
  #{@user.name}
%p
  %b Email: 
  #{@user.email if @user.email}

%a.btn.btn-primary{:href => edit_user_path}
  Edit your information
