%h2 Posts
- if @posts.length > 0
  %ul
  - @posts.each do |post|
    %li post.description
    %li post.user.name

%h3 Users in the system
- @users.each do |user|
  %p User: #{link_to user.name, user}
