%h2 Most recent sessions nearby
- if @posts.length > 0
  %table.table.table-striped
    %thead
      %tr
        %th Author
        %th Post
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td
            %img{:src => "#{post.user.image if post.user.image} "}
            = link_to post.user.nickname, post.user
            
          %td 
            %blockquote
              #{post.description}
          %td 
            =link_to 'See more..', post
- else
  %p No posts yet!
    
= link_to 'Sesh now!', new_post_path, :class => "btn btn-primary btn-large"
