<h2>Hi <%= @to_user.name %>!</h2>

<p>User <b><% =@attending_user.nickname %></b> seems to be <b>attending your sesh</b> <%= @post.description %>.</p>

<p>Check it out at: <%= link_to 'Seshly', post_path(@post) %>

<h3>Coolness!</h3>