<h2>>Hi #{@to_user.name}!</h2>

<p>User #{@attending_user.nickname} seems to be attending your sesh #{@post.description}.</p>

<p>Check it out at: <%= link_to 'Seshly', post_path(@post) %>

<p>Coolness!</p>