<h2>Hi <%= @to_user.name %>!</h2>

<p>User <b>@<%= link_to @attending_user.nickname, user_path(@attending_user) %></b> just indicated that he/she is going to <b>attend your sesh <%= link_to @post.description, post_path(@post) %></b>.</p>

<h3>Coolness!</h3>