= simple_form_for(@post) do |f|
  = f.error_notification
  = f.input :description, :placeholder => "your message here!", :label => false, :input_html => {:class => 'input-large'}
  = f.button :submit, :class => "btn btn-primary"
