%h1 Tell about your sesh!

%input{:id => 'access_token-field', :type => 'hidden', :value => @token}

= link_to 'Add a location', new_location_path, :class => 'btn btn-success', :id => 'add-location'

:javascript
  jQuery(function ($) {
  	$(document).ready(function(){
  		post_geolocate();
  		$('#add-location').click(function(e){
    		e.preventDefault();
    		add_location_search();
  		});
  	});	
  });

%hr 

= render 'form'

= link_to 'Back', posts_path
